
body {
  background: #D3D3D3;
  font-family: 'Karla', sans-serif;
  font-style: normal;
  font-weight: 300;
  height: 100%;
  font-size: 1.6rem;
  color: #263350;
}

.book {
  max-width: 150%;
  margin-left: -20%;
  margin-top: -5%;
}

.row {
  position: relative;
}

a {
  color: #263350;
  text-decoration: none;
}

hr {
  border: none;
  border-bottom: 1px solid #e1e1e1;
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'Lora', serif;
  font-weight: 700;
  color: #263350;
}

h4 {
  font-size: 1.6rem;
}

@media (min-width: 768px) {
  .caption-box {
    position: absolute;
    bottom: 25%;
    right: 0;
  }

  body {
    font-size: 1.2rem;
  }

  .book {
    max-width: 100%;
    margin-left: auto;
  }
}

/** Add/remove margins **/

.push {
    margin: 22px;
}

.push-top {
    margin-top: 22px;
}

.push-right {
    margin-right: 22px;
}

.push-bottom {
    margin-bottom: 22px;
}

.push-left {
    margin-left: 22px;
}

.push-ends {
    margin-top: 22px;
    margin-bottom: 22px;
}

.push-sides {
    margin-right: 22px;
    margin-left: 22px;
}

.push-half {
    margin: 11px;
}

.push-half-top {
    margin-top: 11px;
}

.push-half-right {
    margin-right: 11px;
}

.push-half-bottom {
    margin-bottom: 11px;
}

.push-half-left {
    margin-left: 11px;
}

.push-half-ends {
    margin-top: 11px;
    margin-bottom: 11px;
}

.push-half-sides {
    margin-right: 11px;
    margin-left: 11px;
}

.flush {
    margin: 0;
}

.flush-top {
    margin-top: 0;
}

.flush-right {
    margin-right: 0;
}

.flush-bottom {
    margin-bottom: 0;
}

.flush-left {
    margin-left: 0;
}

.flush-ends {
    margin-top: 0;
    margin-bottom: 0;
}

.flush-sides {
    margin-right: 0;
    margin-left: 0;
}
/** Add/remove paddings **/

.soft {
    padding: 22px;
}

.soft-top {
    padding-top: 22px;
}

.soft-right {
    padding-right: 22px;
}

.soft-bottom {
    padding-bottom: 22px;
}

.soft-left {
    padding-left: 22px;
}

.soft-ends {
    padding-top: 22px;
    padding-bottom: 22px;
}

.soft-sides {
    padding-right: 22px;
    padding-left: 22px;
}

.soft-half {
    padding: 11px;
}

.soft-half-top {
    padding-top: 11px;
}

.soft-half-right {
    padding-right: 11px;
}

.soft-half-bottom {
    padding-bottom: 11px;
}

.soft-half-left {
    padding-left: 11px;
}

.soft-half-ends {
    padding-top: 11px;
    padding-bottom: 11px;
}

.soft-half-sides {
    padding-right: 11px;
    padding-left: 11px;
}

.hard {
    padding: 0;
}

.hard-top {
    padding-top: 0;
}

.hard-right {
    padding-right: 0;
}

.hard-bottom {
    padding-bottom: 0;
}

.hard-left {
    padding-left: 0;
}

.hard-ends {
    padding-top: 0;
    padding-bottom: 0;
}

.hard-sides {
    padding-right: 0;
    padding-left: 0;
}
